google-cloud-aiplatform
sentence-transformers
langchain
flask
pypdf
python-dotenv
pinecone[grpc]
langchain-pinecone
pinecone-client
protoc-gen-openapiv2
langchain-community
langchain-experimental
langchain-google-vertexai

-e .    